<div class="row">
  <div class="col-10 offset-1">
    User/Seller/Products
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-10 offset-1">
    <%= link_to 'Register New Product', new_product_path, class: 'btn btn-primary' %>
    <!-- <button type="button" class="btn btn-primary" type="button" href="new_seller_link">
      Register New Seller
    </button> -->
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-10 offset-1">
    <ol id="product-list-ol">
      <% Product.all.each do |product| %>
        <li class="product-list-li">
          <%= link_to product.name, product_path(product) %>
        </li>
      <% end %>
    </ol>
  </div>
</div>