<div class="row">
  <div class="col-10 offset-1">
    User/New_Seller
    <br><br>
    <%= simple_form_for @seller, url: user_sellers_path do |f| %>
      <%= f.input :name, placeholder: 'Seller Name' %>
      <%= f.input :description, placeholder: 'Description of Seller' %>
      <%= f.submit "Create", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>